<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}UE235{% endblock %}</title>
    </head>
    <body>
        <div id="header">
           
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>