/* Ici on ajoute la CSS custom */


body {
  padding-top: 60px;
}
.accordion {
  text-decoration: none;
}
.accordion:hover {
  text-decoration: none;
  color: rgb(44, 110, 110);
}
.accordion:focus {
  text-decoration: none;
}

.accordion > div:hover{
  background-color: rgba(17, 17, 236, 0.219);
  transition: 1s;
  transition-timing-function: ease;
}
.accordion > div {
  transition: 1s;
  transition-timing-function: ease;
}

/* classes utilitaires */

.m-2 {
  margin: 20px;
}